body{
    background-image: url("../images/bg.svg");
    background-repeat: no-repeat;
    background-size:1700px;
font-family: 'Karla', sans-serif;
padding:40px;
margin:0;
color: #fff;
}


.links{
    text-align: left;
    max-width: 320px;
    
    display: inline-block;
    padding: 30px;
    margin-top: 2rem;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbaryu{
    background: rgba( 43, 47, 172, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
}


ul{
    text-indent: inherit;
}


.jumbotron{
    text-align: center;
}

.jumboh1{
    text-shadow: 2px 2px 8px #000000;
    font-family: 'Rubik', sans-serif;
}



.form-control{
    max-width:300px;
    margin:inherit;
    
}



.btn-grad {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%)}

.btn-grad {
   
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px rgb(0, 0, 0);
   border-radius: 10px;
   border:none;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }


